3D point cloud process/modelnet40_normal_resampled
3D point cloud process/pca and grid voxel/__pycache__
3D point cloud process/pca and grid voxel/test.py
3D point cloud process/pca and grid voxel/1.jpeg
3D point cloud process/pca and grid voxel/background.png
*.DS_Store
3D point cloud process/.DS_Store
.DS_Store
3D point cloud process/tree/BTS/__pycache__
3D point cloud process/tree/kdtree/kd2.py
3D point cloud process/tree/kdtree/test.py
3D point cloud process/tree/kdtree/kdtree.py
.vscode/settings.json
3D point cloud process/tree/kdtree/000000.bin
3D point cloud process/clustering/Kmeans/from_zhihu.py
3D point cloud process/tree/kdtree/__pycache__/kd.cpython-37.pyc
.gitignore
3D point cloud process/clustering/Kmeans/test.py
3D point cloud process/tree/kdtree/__pycache__/kd.cpython-38.pyc
