3D point cloud process/modelnet40_normal_resampled
3D point cloud process/pca and grid voxel/__pycache__
3D point cloud process/pca and grid voxel/test.py
3D point cloud process/pca and grid voxel/1.jpeg
3D point cloud process/pca and grid voxel/background.png
